USE [HospitalManagement]
GO
/****** Object:  StoredProcedure [dbo].[AddPatient]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPatient]
    @PatientID INT = NULL,
    @First_Name NVARCHAR(100),
    @Last_Name NVARCHAR(100),
    @Gender CHAR(1),           -- M/F ya da başka kodlama olabilir
    @BirthDate DATE = NULL,
    @CityID INT,
    @Email NVARCHAR(100) = NULL,
    @Phone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Email unique kontrolü (PatientID hariç)
    IF @Email IS NOT NULL AND EXISTS (
        SELECT 1 FROM Patients
        WHERE Email = @Email
          AND (@PatientID IS NULL OR PatientID != @PatientID)
    )
    BEGIN
        RAISERROR('Bu e-posta başka bir hastaya kayıtlı.', 16, 1);
        RETURN;
    END

    -- Eğer PatientID yoksa yeni kayıt
    IF @PatientID IS NULL
    BEGIN
        INSERT INTO Patients
        (First_Name, Last_Name, Gender, BirthDate, CityID, Email, Phone)
        VALUES
        (@First_Name, @Last_Name, @Gender, @BirthDate, @CityID, @Email, @Phone);

        SELECT SCOPE_IDENTITY() AS NewPatientID;
    END
    ELSE
    BEGIN
        -- Var olan kaydı güncelle
        IF NOT EXISTS (SELECT 1 FROM Patients WHERE PatientID = @PatientID)
        BEGIN
            RAISERROR('Güncellenecek hasta bulunamadı.', 16, 1);
            RETURN;
        END

        UPDATE Patients
        SET
            First_Name = @First_Name,
            Last_Name = @Last_Name,
            Gender = @Gender,
            BirthDate = @BirthDate,
            CityID = @CityID,
            Email = @Email,
            Phone = @Phone
        WHERE PatientID = @PatientID;

        SELECT @PatientID AS UpdatedPatientID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CreateAppointment]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAppointment]
    @PatientID INT,
    @DoctorID INT,
    @DepartmentID INT,
    @Appointment_date DATE,
    @StartTime TIME,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @EndTime TIME = DATEADD(MINUTE, 20, @StartTime),
        @AppointmentDateTime DATETIME = CAST(@Appointment_date AS DATETIME) + CAST(@StartTime AS DATETIME);

		   -- 0. Hasta var mı kontrol et
    IF NOT EXISTS (
        SELECT 1 FROM Patients WHERE PatientID = @PatientID
    )
    BEGIN
        RAISERROR('Hasta bulunamadı, randevu alınamaz.', 16, 1);
        RETURN;
    END

    -- 0. Randevu tarihi geçmiş mi?
    IF @AppointmentDateTime < GETDATE()
    BEGIN
        RAISERROR('Geçmiş bir tarih ve saat için randevu alınamaz.', 16, 1);
        RETURN;
    END

    -- 0.1 Randevuya 1 saatten az kaldı mı?
    IF DATEDIFF(MINUTE, GETDATE(), @AppointmentDateTime) < 60
    BEGIN
        RAISERROR('Randevuya 1 saatten az kaldığı için işlem yapılamaz.', 16, 1);
        RETURN;
    END

    -- 1. Doktor girilen departmana ait mi?
    IF NOT EXISTS (
        SELECT 1 FROM Doctors
        WHERE DoctorID = @DoctorID AND DepartmentID = @DepartmentID
    )
    BEGIN
        RAISERROR('Seçilen doktor bu departmana ait değil.', 16, 1);
        RETURN;
    END

    -- 2. Doktor izinli mi?
    IF EXISTS (
        SELECT 1 FROM DoctorAvailability
        WHERE DoctorID = @DoctorID AND WorkDate = @Appointment_date AND IsOnLeave = 1
    )
    BEGIN
        RAISERROR('Doktor bu tarihte izinli.', 16, 1);
        RETURN;
    END

    -- 3. Slot uygun mu ve ID’si ne?
    DECLARE @ScheduleID INT;
    SELECT @ScheduleID = ScheduleID
    FROM AppointmentSchedule
    WHERE DoctorID = @DoctorID AND WorkDate = @Appointment_date
      AND StartTime = @StartTime AND IsBooked = 0;

    IF @ScheduleID IS NULL
    BEGIN
        RAISERROR('Bu randevu saati alınmış ya da mevcut değil.', 16, 1);
        RETURN;
    END

    -- 4. Aynı gün aynı bölümden randevusu var mı?
    IF EXISTS (
        SELECT 1
        FROM Appointments A
        INNER JOIN Doctors D1 ON A.DoctorID = D1.DoctorID
        INNER JOIN Doctors D2 ON D2.DoctorID = @DoctorID
        WHERE A.PatientID = @PatientID
          AND CAST(A.AppointmentDate AS DATE) = @Appointment_date
          AND D1.DepartmentID = D2.DepartmentID
    )
    BEGIN
        RAISERROR('Aynı gün bu bölümden zaten randevunuz var.', 16, 1);
        RETURN;
    END

    -- 5. Randevu ekle ve ID’yi güvenli şekilde al
    DECLARE @NewAppointmentIDTable TABLE (AppointmentID INT);

    INSERT INTO Appointments (
        PatientID, Department_ID, DoctorID, AppointmentDate,
        Status, ScheduleID, Notes
    )
    OUTPUT INSERTED.AppointmentID INTO @NewAppointmentIDTable
    VALUES (
        @PatientID, @DepartmentID, @DoctorID,
        @AppointmentDateTime, 'Scheduled', @ScheduleID, @Notes
    );

    DECLARE @NewAppointmentID INT;
    SELECT @NewAppointmentID = AppointmentID FROM @NewAppointmentIDTable;

    -- 6. Schedule tablosunu güncelle
    UPDATE AppointmentSchedule
    SET IsBooked = 1, AppointmentID = @NewAppointmentID
    WHERE ScheduleID = @ScheduleID;

    PRINT 'Randevu başarıyla oluşturuldu.';
END
GO
/****** Object:  StoredProcedure [dbo].[GenerateAppointmentSlotsForNext15Days]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GenerateAppointmentSlotsForNext15Days]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentDate DATE = CAST(GETDATE() AS DATE);
    DECLARE @EndDate DATE = DATEADD(DAY, 14, @CurrentDate); -- Bugün dahil 15 gün

    DECLARE @DoctorID INT, @StartTime TIME(0), @EndTime TIME(0), @CurrentTime TIME(0);

    WHILE @CurrentDate <= @EndDate
    BEGIN
        DECLARE DoctorCursor CURSOR FOR
        SELECT DoctorID, StartTime, EndTime
        FROM DoctorAvailability
        WHERE WorkDate = @CurrentDate AND IsOnLeave = 0;

        OPEN DoctorCursor;
        FETCH NEXT FROM DoctorCursor INTO @DoctorID, @StartTime, @EndTime;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CurrentTime = @StartTime;

            WHILE @CurrentTime < @EndTime
            BEGIN
                -- Slot zaten var mı kontrol et
                IF NOT EXISTS (
                    SELECT 1 FROM AppointmentSchedule
                    WHERE DoctorID = @DoctorID AND WorkDate = @CurrentDate AND StartTime = @CurrentTime
                )
                BEGIN
                    INSERT INTO AppointmentSchedule (DoctorID, WorkDate, StartTime, EndTime, IsBooked)
                    VALUES (
                        @DoctorID,
                        @CurrentDate,
                        @CurrentTime,
                        DATEADD(MINUTE, 20, @CurrentTime),
                        0
                    );
                END

                SET @CurrentTime = DATEADD(MINUTE, 20, @CurrentTime);
            END

            FETCH NEXT FROM DoctorCursor INTO @DoctorID, @StartTime, @EndTime;
        END

        CLOSE DoctorCursor;
        DEALLOCATE DoctorCursor;

        SET @CurrentDate = DATEADD(DAY, 1, @CurrentDate); -- Bir sonraki güne geç
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[PayInvoice]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PayInvoice]
    @PatientID INT,
    @InvoiceID INT,
    @PaymentDate DATE,
    @Amount DECIMAL(10,2),
    @PaymentMethod VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PatientPays DECIMAL(10,2);
    DECLARE @AlreadyPaid DECIMAL(10,2);
    DECLARE @NewPaidAmount DECIMAL(10,2);
    DECLARE @NewRemaining DECIMAL(10,2);
    DECLARE @NewStatus VARCHAR(20);

    SELECT 
        @PatientPays = Patient_Pays, 
        @AlreadyPaid = ISNULL(Amount_Paid, 0)
    FROM Invoices
    WHERE InvoiceID = @InvoiceID AND PatientID = @PatientID;

    IF @PatientPays IS NULL
    BEGIN
        RAISERROR('Fatura bulunamadı veya hasta bu faturaya ait değil.', 16, 1);
        RETURN;
    END

    IF @Amount <= 0
    BEGIN
        RAISERROR('Ödeme tutarı geçersiz.', 16, 1);
        RETURN;
    END

    IF @AlreadyPaid >= @PatientPays
    BEGIN
        RAISERROR('Fatura zaten tamamen ödenmiş.', 16, 1);
        RETURN;
    END

    IF @AlreadyPaid + @Amount >= @PatientPays
    BEGIN
        SET @NewPaidAmount = @PatientPays;
        SET @NewRemaining = 0;
        SET @NewStatus = 'paid';
    END
    ELSE
    BEGIN
        SET @NewPaidAmount = @AlreadyPaid + @Amount;
        SET @NewRemaining = @PatientPays - @NewPaidAmount;
        SET @NewStatus = 'partial';
    END

    UPDATE Invoices
    SET 
        Amount_Paid = @NewPaidAmount,
        RemainingBalance = @NewRemaining,
        Payment_Date = @PaymentDate,
        Payment_Status = @NewStatus,
        Payment_Method = @PaymentMethod,
        Description = 
            CASE 
                WHEN CHARINDEX(CONCAT('[Ödeme: ', @PaymentMethod, ']'), ISNULL(Description, '')) = 0
                THEN CONCAT(ISNULL(Description, ''), ' [Ödeme: ', @PaymentMethod, ']')
                ELSE Description
            END
    WHERE InvoiceID = @InvoiceID;

    PRINT CONCAT(' HastaID: ', @PatientID, ' | FaturaID: ', @InvoiceID, ' | Ödenen: ', @Amount, ' | Yeni Toplam: ', @NewPaidAmount, ' | Kalan: ', @NewRemaining, ' | Durum: ', @NewStatus);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateAppointmentSchedule]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GenerateAppointmentSchedule]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DoctorID INT, @WorkDate DATE, @StartTime TIME, @EndTime TIME;
    DECLARE @i INT = 0;

    -- Doktorun müsait olduğu günleri çek
    DECLARE cur CURSOR FOR
    SELECT DoctorID, WorkDate, StartTime, EndTime
    FROM DoctorAvailability
    WHERE IsOnLeave = 0;

    OPEN cur;
    FETCH NEXT FROM cur INTO @DoctorID, @WorkDate, @StartTime, @EndTime;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @SlotStart TIME = @StartTime;
        DECLARE @SlotEnd TIME;

        WHILE @SlotStart < @EndTime
        BEGIN
            SET @SlotEnd = DATEADD(MINUTE, 20, @SlotStart);

            -- Son slot gün sonunu geçmesin
            IF @SlotEnd <= @EndTime
            BEGIN
                INSERT INTO AppointmentSchedule (DoctorID, WorkDate, StartTime, EndTime, IsBooked, AppointmentID)
                VALUES (@DoctorID, @WorkDate, @SlotStart, @SlotEnd, 0, NULL);
            END

            SET @SlotStart = @SlotEnd;
        END

        FETCH NEXT FROM cur INTO @DoctorID, @WorkDate, @StartTime, @EndTime;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateDoctorAvailability]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--50 doktor için bu tarihten 15 gün sonrasına kadar randevu açar..

CREATE   PROCEDURE [dbo].[sp_GenerateDoctorAvailability]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DoctorID INT, @WorkDate DATE;
    DECLARE @i INT = 1;

    WHILE @i <= 50  -- 50 doktor varsayımı
    BEGIN
        SET @DoctorID = @i;
        DECLARE @d INT = 0;

        WHILE @d < 15  -- Bugünden itibaren 15 gün
        BEGIN
            SET @WorkDate = DATEADD(DAY, @d, CAST(GETDATE() AS DATE));

            -- Gün içi izinli olma oranı %15
            DECLARE @IsOnLeave BIT = CASE WHEN ABS(CHECKSUM(NEWID())) % 100 < 15 THEN 1 ELSE 0 END;

            INSERT INTO DoctorAvailability (DoctorID, WorkDate, StartTime, EndTime, IsOnLeave, Notes)
            VALUES (
                @DoctorID,
                @WorkDate,
                '08:00',
                '17:00',
                @IsOnLeave,
                NULL
            );

            SET @d += 1;
        END

        SET @i += 1;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientHistory]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Hasta randevu, ilaç, tanı, bilgilerini içeren procedure..
CREATE   PROCEDURE [dbo].[sp_GetPatientHistory]
    @PatientID INT
AS
BEGIN
    SELECT 
        p.FullName,
        a.AppointmentDate,
        d.FullName AS DoctorName,
        diag.Name as Diagnosis_Name,
        m.Name as  Medication_Name,
        pd.Dosage,
        pd.Duration
    FROM Patients p
    INNER JOIN Appointments a ON p.PatientID = a.PatientID
    LEFT JOIN Doctors d ON a.DoctorID = d.DoctorID
    LEFT JOIN Diagnosis diag  ON a.DiagnosisID = diag.DiagnosisID
    LEFT JOIN Prescriptions pr ON a.AppointmentID = pr.AppointmentID
    LEFT JOIN Prescriptions pd ON pr.PrescriptionID = pd.PrescriptionID
    LEFT JOIN Medications m ON pd.MedicationID = m.MedicationID
    WHERE p.PatientID = @PatientID
    ORDER BY a.AppointmentDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPatientInvoice]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPatientInvoice]
    @PatientID INT
AS
BEGIN
    SELECT 
        p.FullName,
        a.AppointmentDate,
        d.FullName AS DoctorName,
        dept.Name as Department_Name,
        diag.Name as Diagnosis_Name,
        inv.InvoiceDate,
        inv.Amount,
        inv.IsPaid

    FROM Patients p
    INNER JOIN Appointments a ON p.PatientID = a.PatientID
    LEFT JOIN Doctors d ON a.DoctorID = d.DoctorID
    LEFT JOIN Departments dept ON d.DepartmentID = dept.DepartmentID
    LEFT JOIN Diagnosis diag ON a.DiagnosisID = diag.DiagnosisID
    LEFT JOIN Prescriptions pr ON a.AppointmentID = pr.AppointmentID
    LEFT JOIN Invoices inv ON a.AppointmentID = inv.AppointmentID
    WHERE p.PatientID = @PatientID
    ORDER BY a.AppointmentDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePatientDetailsNotesAndMedication]    Script Date: 4.08.2025 00:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePatientDetailsNotesAndMedication]
    @DetailID INT,
    @DoctorNotes NVARCHAR(1000) = NULL,
    @MedicationName NVARCHAR(200) = NULL,
    @Status NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM PatientDetails WHERE DetailID = @DetailID)
    BEGIN
        RAISERROR('DetailID geçerli değil.', 16, 1);
        RETURN;
    END

    UPDATE PatientDetails
    SET 
        DoctorNotes = COALESCE(@DoctorNotes, DoctorNotes),
        MedicationName = COALESCE(@MedicationName, MedicationName),
        Status = COALESCE(@Status, Status)
    WHERE DetailID = @DetailID;
END
GO
