/****** Object:  Trigger [dbo].[trg_Appointment_Update]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Appointment_Update]
ON [dbo].[Appointments]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PatientDetails (PatientID, AppointmentID, DoctorID, AppointmentDate, Status)
    SELECT 
        i.PatientID,
        i.AppointmentID,
        i.DoctorID,
        i.AppointmentDate,
        'Pending' 
    FROM inserted i
    LEFT JOIN PatientDetails pd ON pd.AppointmentID = i.AppointmentID AND pd.PatientID = i.PatientID
    WHERE pd.DetailID IS NULL;
END
GO
ALTER TABLE [dbo].[Appointments] ENABLE TRIGGER [trg_Appointment_Update]
GO
/****** Object:  Trigger [dbo].[trg_Appointments_Log]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Appointments_Log]
ON [dbo].[Appointments]
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Status değişimi log
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'Appointments',
        d.AppointmentID,
        'Status',
        d.Status,
        i.Status,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.AppointmentID = i.AppointmentID
    WHERE ISNULL(d.Status, '') <> ISNULL(i.Status, '');

    -- Control değişimi
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'Appointments',
        d.AppointmentID,
        'Control',
        d.Control,
        i.Control,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.AppointmentID = i.AppointmentID
    WHERE ISNULL(d.Control, 0) <> ISNULL(i.Control, 0);
END
GO
ALTER TABLE [dbo].[Appointments] ENABLE TRIGGER [trg_Appointments_Log]
GO
/****** Object:  Trigger [dbo].[trg_InsertInpatientsOnAppointment]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_InsertInpatientsOnAppointment]
ON [dbo].[Appointments]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PatientID INT;
    DECLARE @DoctorID INT;
    DECLARE @AppointmentDate DATETIME;
    DECLARE @BedID INT;
    DECLARE @AppointmentID INT;
    DECLARE @DiagnosisID INT;

    -- Yalnızca 'Inpatient Ongoing' olanlar
    DECLARE cur CURSOR LOCAL FOR
        SELECT AppointmentID, PatientID, DoctorID, AppointmentDate, DiagnosisID
        FROM INSERTED
        WHERE Status = 'Inpatient Ongoing';

    OPEN cur;

    FETCH NEXT FROM cur INTO @AppointmentID, @PatientID, @DoctorID, @AppointmentDate, @DiagnosisID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Boş yatak bul
        SELECT TOP 1 @BedID = BedID
        FROM dbo.Beds
        WHERE IsOccupied = 0
        ORDER BY NEWID();

        IF @BedID IS NULL
        BEGIN
            RAISERROR('Yatak yok! Hasta yatışı yapılamıyor.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Yatağı dolu olarak işaretle
        UPDATE dbo.Beds
        SET IsOccupied = 1
        WHERE BedID = @BedID;

        -- Inpatients tablosuna kayıt ekle
        INSERT INTO dbo.Inpatients (
            AppointmentID, PatientID, DoctorID, BedID,
            AdmissionDate, DischargeDate, DiagnosisID
        )
        VALUES (
            @AppointmentID, @PatientID, @DoctorID, @BedID,
            @AppointmentDate, NULL, @DiagnosisID
        );

        FETCH NEXT FROM cur INTO @AppointmentID, @PatientID, @DoctorID, @AppointmentDate, @DiagnosisID;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[Appointments] ENABLE TRIGGER [trg_InsertInpatientsOnAppointment]
GO
/****** Object:  Trigger [dbo].[trg_InvoiceOnAppointmentInsert]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InvoiceOnAppointmentInsert]
ON [dbo].[Appointments]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------
    -- 1. STATUS = COMPLETED durumu
    ------------------------------------
    DECLARE @CompletedInvoices TABLE (InvoiceID INT, AppointmentID INT);

    INSERT INTO dbo.Invoices (
        AppointmentID, PatientID, InvoiceDate, Amount, Insurance_Amount, 
        Payment_Status, Covered_By_Insurance, Description, RemainingBalance
    )
    OUTPUT inserted.InvoiceID, inserted.AppointmentID INTO @CompletedInvoices(InvoiceID, AppointmentID)
    SELECT 
        i.AppointmentID,
        i.PatientID,
        GETDATE(),
        1000,
        100,
        'unpaid',
        1,
        'Muayene tamamlandı, sabit ücret uygulandı.',
        1000 - 100
    FROM inserted i
    INNER JOIN deleted d ON i.AppointmentID = d.AppointmentID
    WHERE i.Status = 'Completed'
      AND d.Status <> 'Completed'
      AND NOT EXISTS (
          SELECT 1 FROM dbo.Invoices 
          WHERE AppointmentID = i.AppointmentID 
            AND Description = 'Muayene tamamlandı, sabit ücret uygulandı.'
      );

    -- Insert sonrası Appointments tablosunu güncelle
    UPDATE a
    SET InvoiceID = ci.InvoiceID
    FROM dbo.Appointments a
    INNER JOIN @CompletedInvoices ci ON a.AppointmentID = ci.AppointmentID;


    ------------------------------------------------------
    -- 2. STATUS = INPATIENT ONGOING → BOŞ FATURA durumu
    ------------------------------------------------------
    DECLARE @InpatientInvoices TABLE (InvoiceID INT, AppointmentID INT);

    INSERT INTO dbo.Invoices (
        AppointmentID, PatientID, InvoiceDate, Amount, Insurance_Amount, 
        Payment_Status, Covered_By_Insurance, Description, RemainingBalance
    )
    OUTPUT inserted.InvoiceID, inserted.AppointmentID INTO @InpatientInvoices(InvoiceID, AppointmentID)
    SELECT 
        i.AppointmentID,
        i.PatientID,
        GETDATE(),
        0,  -- Boş bırakılıyor
        0,
        'unpaid',
        1,
        'Hasta yatışa alındı. Ücret hesaplaması taburcu sonrasında yapılacaktır.',
        NULL
    FROM inserted i
    INNER JOIN deleted d ON i.AppointmentID = d.AppointmentID
    WHERE i.Status = 'Inpatient Ongoing'
      AND d.Status <> 'Inpatient Ongoing'
      AND NOT EXISTS (
          SELECT 1 FROM dbo.Invoices 
          WHERE AppointmentID = i.AppointmentID 
            AND Description LIKE 'Hasta yatışa alındı%'
      );

    -- Insert sonrası Appointments tablosunu güncelle
    UPDATE a
    SET InvoiceID = ii.InvoiceID
    FROM dbo.Appointments a
    INNER JOIN @InpatientInvoices ii ON a.AppointmentID = ii.AppointmentID;
END;
GO
ALTER TABLE [dbo].[Appointments] ENABLE TRIGGER [trg_InvoiceOnAppointmentInsert]
GO
/****** Object:  Trigger [dbo].[trg_AfterDischarge]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterDischarge]
ON [dbo].[Inpatients]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @InpatientID INT, 
        @AppointmentID INT, 
        @PatientID INT, 
        @BedID INT,
        @AdmissionDate DATE, 
        @DischargeDate DATE,
        @StayDays INT,
        @SurgeryFee MONEY,
        @DailyRate MONEY = 750,
        @StayCharge MONEY,
        @TotalCharge MONEY,
        @DepartmentID INT,
        @Insurance_Amount MONEY = 200;

    -- Bilgiler alınıyor
    SELECT 
        @InpatientID = i.InpatientID,
        @AppointmentID = i.AppointmentID,
        @PatientID = i.PatientID,
        @BedID = i.BedID,
        @AdmissionDate = i.AdmissionDate,
        @DischargeDate = i.DischargeDate,
        @DepartmentID = a.Department_ID
    FROM inserted i
    INNER JOIN deleted old ON i.InpatientID = old.InpatientID
    INNER JOIN Appointments a ON i.AppointmentID = a.AppointmentID
    WHERE old.DischargeDate IS NULL AND i.DischargeDate IS NOT NULL;

    IF @DischargeDate IS NOT NULL
    BEGIN
        -- Gün sayısı hesapla (min 1 gün)
        SET @StayDays = DATEDIFF(DAY, @AdmissionDate, @DischargeDate);
        IF @StayDays <= 0 SET @StayDays = 1;

        -- Departmana göre ameliyat ücreti al
        SELECT @SurgeryFee = ISNULL(Surgery_Fees, 1000)
        FROM Departments
        WHERE DepartmentID = @DepartmentID;

        -- Günlük ücret sabit 750 TL, toplam hesapla
        SET @StayCharge = @StayDays * @DailyRate;
        SET @TotalCharge = @SurgeryFee + @StayCharge;

        -- Fatura oluştur
        INSERT INTO dbo.Invoices (
            AppointmentID,
            PatientID,
            InvoiceDate,
            Amount,
            Insurance_Amount,
            Amount_Paid,
            RemainingBalance,
            Payment_Status,
            Payment_Date,
            Payment_Method,
            Covered_By_Insurance,
            Description
        )
        VALUES (
            @AppointmentID,
            @PatientID,
            GETDATE(),
            @TotalCharge,
            @Insurance_Amount,
            NULL,
            @TotalCharge - @Insurance_Amount,
            'unpaid',
            NULL,
            NULL,
            1,
            'Yatış Ücreti: ' + CAST(@StayDays AS NVARCHAR) + ' gün x 750₺ = ' + CAST(@StayCharge AS NVARCHAR) + 
            ' + Ameliyat Ücreti: ' + CAST(@SurgeryFee AS NVARCHAR) + '₺ | Bölüm: ' +
            (SELECT Department_Name FROM Departments WHERE DepartmentID = @DepartmentID)
        );

        -- Yatak boşalt
        UPDATE dbo.Beds
        SET IsOccupied = 0
        WHERE BedID = @BedID;

        -- Randevuyu güncelle
        UPDATE dbo.Appointments
        SET 
            Status = 'Discharged, examination completed',
            Notes = 'Taburcu edildi.'
        WHERE AppointmentID = @AppointmentID;
    END
END;
GO
ALTER TABLE [dbo].[Inpatients] ENABLE TRIGGER [trg_AfterDischarge]
GO
/****** Object:  Trigger [dbo].[trg_InPatients_Log]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_InPatients_Log]
ON [dbo].[Inpatients]
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- bedid değiştiyse
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'InPatients',
        d.InPatientID,
        'Bedid',
        d.BedID,
        i.BedID,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.InPatientID = i.InPatientID
    WHERE ISNULL(d.BedID, '') <> ISNULL(i.BedID, '');

    -- DischargeDate
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'InPatients',
        d.InPatientID,
        'DischargeDate',
        CONVERT(NVARCHAR, d.DischargeDate, 120),
        CONVERT(NVARCHAR, i.DischargeDate, 120),
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.InPatientID = i.InPatientID
    WHERE ISNULL(d.DischargeDate, '') <> ISNULL(i.DischargeDate, '');
END
GO
ALTER TABLE [dbo].[Inpatients] ENABLE TRIGGER [trg_InPatients_Log]
GO
/****** Object:  Trigger [dbo].[trg_Invoices_Log]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Invoices_Log]
ON [dbo].[Invoices]
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Amount
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'Invoices',
        d.InvoiceID,
        'Amount',
        CAST(d.Amount AS NVARCHAR),
        CAST(i.Amount AS NVARCHAR),
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.InvoiceID = i.InvoiceID
    WHERE d.Amount <> i.Amount;

    -- PaymentStatus
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'Invoices',
        d.InvoiceID,
        'PaymentStatus',
        d.Payment_Status,
        i.Payment_Status,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.InvoiceID = i.InvoiceID
    WHERE ISNULL(d.Payment_Status, '') <> ISNULL(i.Payment_Status, '');
END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [trg_Invoices_Log]
GO
/****** Object:  Trigger [dbo].[trg_PatientDetails_Log]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PatientDetails_Log]
ON [dbo].[PatientDetails]
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- MedicationName
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'PatientDetails',
        d.DetailID,
        'MedicationName',
        d.MedicationName,
        i.MedicationName,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.DetailID = i.DetailID
    WHERE ISNULL(d.MedicationName, '') <> ISNULL(i.MedicationName, '');

    -- DoctorNotes
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'PatientDetails',
        d.DetailID,
        'DoctorNotes',
        d.DoctorNotes,
        i.DoctorNotes,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.DetailID = i.DetailID
    WHERE ISNULL(d.DoctorNotes, '') <> ISNULL(i.DoctorNotes, '');

    -- Status
    INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
    SELECT
        'PatientDetails',
        d.DetailID,
        'Status',
        d.Status,
        i.Status,
        'UPDATE'
    FROM deleted d
    JOIN inserted i ON d.DetailID = i.DetailID
    WHERE ISNULL(d.Status, '') <> ISNULL(i.Status, '');
END
GO
ALTER TABLE [dbo].[PatientDetails] ENABLE TRIGGER [trg_PatientDetails_Log]
GO
/****** Object:  Trigger [dbo].[trg_Patients_Log]    Script Date: 4.08.2025 00:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Patients_Log]
ON [dbo].[Patients]
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- UPDATE işlemleri için log
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
        SELECT
            'Patients',
            d.PatientID,
            'First_Name',
            d.First_Name,
            i.First_Name,
            'UPDATE'
        FROM deleted d
        JOIN inserted i ON d.PatientID = i.PatientID
        WHERE ISNULL(d.First_Name, '') <> ISNULL(i.First_Name, '');

        -- Aynı şekilde diğer kolonlar için de:
        INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
        SELECT
            'Patients',
            d.PatientID,
            'Phone',
            d.Phone,
            i.Phone,
            'UPDATE'
        FROM deleted d
        JOIN inserted i ON d.PatientID = i.PatientID
        WHERE ISNULL(d.Phone, '') <> ISNULL(i.Phone, '');
        
        -- diğer kolonlar buraya eklenebilir...
    END

    -- DELETE işlemleri için log
    IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO ChangeLog (TableName, RecordID, ColumnName, OldValue, NewValue, OperationType)
        SELECT
            'Patients',
            d.PatientID,
            'First_Name',
            d.First_Name,
            NULL,
            'DELETE'
        FROM deleted d;
    END
END


GO
ALTER TABLE [dbo].[Patients] ENABLE TRIGGER [trg_Patients_Log]
GO