USE [HospitalManagement]
GO
/****** Object:  View [dbo].[vw_PatientInvoiceDetails]    Script Date: 4.08.2025 00:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_PatientInvoiceDetails] AS
SELECT 
	i.AppointmentID,
    i.InvoiceID,
    i.InvoiceDate,
    i.Amount,
	i.Patient_Pays,
    i.Payment_Status,
	i.RemainingBalance,
	i.Payment_Date,
	i.Amount_Paid,
	i.Description,
	i.Insurance_Amount,
	i.Payment_Method,
	i.PatientID
FROM 
 Invoices i 

GO
